<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Preview"/>
<f:section name="Content">
<div class="ns-backend-preview">
    <f:if condition="{data.image}">
        <f:for each="{data.image}" as="file" iteration="iter">
            <f:if condition="{iter.isFirst}">
                <f:variable name="bgImage" value="{f:uri.image(image: file)}" />
            </f:if>
        </f:for>
    </f:if>
    <div class="banner-module position-relative" style="background-image: url('{bgImage}'); background-repeat: no-repeat; background-size: cover; min-height: 160px; max-height: 160px;">
        <div class="banner-dec">
            <div class="banner-details">
                <f:if condition="{data.title}">
                    <h3>{data.title}</h3>
                </f:if>
                <f:if condition="{data.subtitle}">
                    <h4>{data.subtitle}</h4>
                </f:if>
                <f:if condition="{data.btntext}">
                    <button type="button" class="btn" tabindex="-1">{data.btntext}</button>
                </f:if>
            </div>
        </div>
    </div>
</div>
</f:section>
</html>
