<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
   
    <header class="masthead" style="background-image: url({f:uri.image(image:'{image.0}',maxWidth:'2000')})"> 
        <div class="container">
            <div class="intro-text">
                <f:if condition="{content.title}"><div class="intro-lead-in">{content.title}</div></f:if>
                <f:if condition="{content.subtitle}"><div class="intro-heading text-uppercase">{content.subtitle}</div></f:if>
                <f:if condition="{content.btntext}&&{content.scrollid}">
                    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#{content.scrollid}">{content.btntext}</a>
                </f:if>
            </div>
        </div>
    </header>
    
</html>
