<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
    
    <f:if condition="{content.check}">
        <f:then>
             <div class="team-member">
                <f:if condition="{image}"><f:image image="{image.0}" class="mx-auto rounded-circle" width="225c" height="225c" /></f:if>
                <h4>{content.title}</h4>
                <f:format.html>{content.text}</f:format.html>
                <ul class="list-inline social-buttons">
                  <f:if condition="{content.twitter}">
                    <li class="list-inline-item">
                      <f:link.typolink parameter="{content.twitter}">
                        <i class="fab fa-twitter"></i>
                      </f:link.typolink>
                    </li>
                  </f:if>
                  <f:if condition="{content.facebook}">
                    <li class="list-inline-item">
                      <f:link.typolink parameter="{content.facebook}">
                        <i class="fab fa-facebook-f"></i>
                      </f:link.typolink>
                    </li>
                  </f:if>
                  <f:if condition="{content.linkedin}">
                    <li class="list-inline-item">
                      <f:link.typolink parameter="{content.linkedin}">
                        <i class="fab fa-linkedin-in"></i>
                      </f:link.typolink>
                    </li>
                  </f:if>
                </ul>
              </div>
        </f:then>
        <f:else>
            <div class="icon-teaser">
                <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas {content.icon} fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">{content.title}</h4>
              <f:format.html>{content.text}</f:format.html>
          </div>
        </f:else>
    </f:if>
    
    
</html>
