<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <h2><f:translate key="LLL:EXT:ns_theme_agency/Resources/Private/Language/locallang_db.xlf:wizard.ns_headline"/></h2>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   
                    <f:if condition="{flexformData.title}"><h3>{flexformData.title}</h3></f:if>
                    <f:if condition="{flexformData.subtitle}"><h4>{flexformData.subtitle}</h4></f:if>
                    
                </div>
            </div> 
        </div>
    </header>

</html>
