<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/Item.html
-->
<div class="col-sm-6 col-md-4">
	<div class="img-text-teaser">
		<f:if condition="{newsItem.falMediaPreviews}">
			<f:for each="{newsItem.falMediaPreviews}" as="file">
				<div class="img-text-bg" style="background-image: url(<f:uri.image image='{file}' width='620c' height='700c' />)"></div>
			</f:for>
		</f:if>
        <div class="img-text-content">
            <p class="small-text">
            	<span class="news-list-date">
	            	<time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
						<f:format.date format="d. M Y">{newsItem.datetime}</f:format.date>
					</time>
	            </span>
	        </p>
            <h3>{newsItem.title}</h3>
            <p>{newsItem.teaser}
		<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}"><f:translate key="readmore" extensionName="ns_theme_heiber" /> </n:link>		
	    </p>
        </div>   
</div>
</div>

</html>
