<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <div class="ns-headline-ce">
        <div class="container" id="c{data.uid}">
            <div class="row {f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">{data -> f:render.text(field: 'title')}</h2>
                    <h3 class="section-subheading text-muted">{data -> f:render.text(field: 'subtitle', optional: true)}</h3>
                </div>
            </div>
        </div>
    </div>
</html>
