/****************************************************************************
Custom Styles
 ***************************************************************************/

footer .quicklinks a{
    color: #fed136;
}
.timeline-body p{
	color:#6c757d;
}
.fa-stack{
    width: 2em;	    
}
.fa-stack .fa-inverse{
	font-size: 0.9em;
}
footer .quicklinks a:hover{
	text-decoration: underline !important;
}
footer .quicklinks a:hover{
    text-decoration: none;
    color: #fed136;
}
.team-member img{
    border: 7px solid rgba(0,0,0,.1);
}
@media (min-width: 1200px){
	#portfolio .portfolio-item .portfolio-link{
	    max-height: 263px;
    	overflow: hidden;
	}
}
@media (min-width: 992px){
	#portfolio .portfolio-item .portfolio-link{
	    max-height: 217px;
    	overflow: hidden;
	}
}
@media (min-width: 768px){
	#portfolio .portfolio-item .portfolio-link{
	    max-height: 157px;
    	overflow: hidden;
	}
	section {
	    padding: 100px 0;
	}
}
@media (min-width:565px){
	#portfolio .portfolio-item .portfolio-link{
	    max-height: 180px;
    	overflow: hidden;
	}
}
@media (max-width:992px){
    section{
        padding:50px 0;
    }
    section h3.section-subheading{
        margin-bottom: 40px;
    }
}