<f:layout name="Default" />

<f:section name="main">
	<f:variable name="sectionId">page-{data.slug -> f:replace(search: '/', replace: '')}</f:variable>
	<div class="site-main">
		<section id="{sectionId}">
			<f:if condition="{data.layout} == '1'">
				<f:then>
					<div class="container">
						<f:mark.contentArea colPos="0">
							<f:cObject typoscriptObjectPath="lib.content" />
						</f:mark.contentArea>
					</div>
				</f:then>
				<f:else>
					<f:mark.contentArea colPos="0">
						<f:cObject typoscriptObjectPath="lib.content" />
					</f:mark.contentArea>
				</f:else>
			</f:if>
		</section>
	</div>
</f:section>
